aside.right-side
    section.content-header
        h1  Pricing and Commission
        ol.breadcrumb
            li
                router-link(to='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li.active  Pricing
    section.content
        .row
            .col-md-12
                .box
                    table.table
                        thead.box-header
                            tr
                                th #
                                th vehicle
                                th Empty / KM
                                th Loaded / KM
                                th Labour Charges
                                th Per Floor Charges

                                th Min Empty Charges
                                th Min Empty Distance / KM

                                th Min Loaded Charges
                                th Min Loaded Distance / KM

                                th Driver Cancel Charges
                                th Driver Cancel Duration

                                th Client Cancel Charges
                                th Client Cancel Duration
                        tbody.box-footer
                            tr(v-for="(data ,key,index ) in pricingData",@click="GoForEdit(key, $event)" ,style="cursor: pointer;")
                                td {{index+1}}
                                td {{key}}
                                td Rs. {{data.Price.empty}}
                                td Rs. {{data.Price.loaded}}
                                td Rs. {{data.Price.labour}}
                                td Rs. {{data.Price.floor}}
                                td Rs. {{data.Price.min_empty}}
                                td {{data.MinDistance.empty/1000}} km
                                td Rs. {{data.Price.min_loaded}}
                                td {{data.MinDistance.loaded/1000}} km
                                td(v-if="data.CancelFees.driver.fee.isRs")  Rs. {{data.CancelFees.driver.fee.value}}
                                td(v-else) {{data.CancelFees.driver.fee.value}}%
                                td  {{data.CancelFees.driver.duration/60000}} mins
                                td(v-if="data.CancelFees.client.fee.isRs") Rs. {{data.CancelFees.client.fee.value}}
                                td(v-else) {{data.CancelFees.client.fee.value}}%
                                td  {{data.CancelFees.client.duration/60000}} mins

            .col-md-4
                .box 
                    .box-header 
                        h3  Commission is {{commission}}%
                    .box-body
                        p Updated At : {{TimeFormat(updatedAt)}} 
                        br
                        label Commission : 
                            input(type="text" , v-model="commissionData")
                        |%
                        
                    .box-footer 
                        button.btn.btn-default(@click="UpdateCommission") Update
        
            
                .box
                    .box-header
                        h3 Add New Priceing
                    .box-body
                        tr
                            td Vehicle	
                            td    
                                input(type="text" , v-model="vehicleName",placeholder = "Vehicle Name")
                        tr 
                            td empty
                            td
                                input(type="text",v-model="vehicle_txt.Price.empty")
                        tr 
                            td loaded
                            td
                                input(type="text",v-model="vehicle_txt.Price.loaded")
                        tr 
                            td labour
                            td
                                input(type="text",v-model="vehicle_txt.Price.labour")
                        tr 
                            td floor
                            td
                                input(type="text",v-model="vehicle_txt.Price.floor")
                        tr 
                            td min_empty
                            td
                                input(type="text",v-model="vehicle_txt.Price.min_empty")
                        tr 
                            td empty
                            td
                                input(type="text",v-model="vehicle_txt.MinDistance.empty")
                        tr 
                            td min_loaded
                            td
                                input(type="text",v-model="vehicle_txt.Price.min_loaded")
                        tr 
                            td loaded
                            td
                                input(type="text",v-model="vehicle_txt.MinDistance.loaded")
                        tr 
                            td isRs
                            td
                                //input(type="text",v-model="vehicle_txt.CancelFees.driver.fee.isRs")
                                input(type="checkbox",v-model="vehicle_txt.CancelFees.driver.fee.isRs"  )
                        tr 
                            td value
                            td
                                input(type="text",v-model="vehicle_txt.CancelFees.driver.fee.value")
                        tr 
                            td duration
                            td
                                input(type="text",v-model="vehicle_txt.CancelFees.driver.duration")
                                
                        tr 
                            td isRs
                            td
                                //input(type="text",v-model="vehicle_txt.CancelFees.client.fee.isRs")
                                input(type="checkbox",v-model="vehicle_txt.CancelFees.client.fee.isRs"  )
                        tr 
                            td value
                            td
                                input(type="text",v-model="vehicle_txt.CancelFees.client.fee.value")
                        tr 
                            td duration
                            td
                                input(type="text",v-model="vehicle_txt.CancelFees.client.duration")
                    .box-footer
                        button.btn.btn-default(@click="AddPrice") {{btnValue}} 

