aside.right-side
    section.content-header
        h1
            | Users&nbsp;
            small Users List
        ol.breadcrumb
            li
                router-link(to='/admin')
                    i.fa.fa-dashboard
                    |  Dashboard
            li.active Users
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title Users
                    .box-body.table-responsive
                        div.text-center(v-if='dataLoad')
                            i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                        h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && data1.length === 0')
                            | No Active Driver Found!
                        table.table.table-hover.table-click#example1(v-if='!dataLoad && data1.length > 0')
                            thead
                                tr
                                    th S.No#
                                    th Driver Name
                                    th Driver Email
                                    th Mobile#
                                    th CNIC#
                                    th Vehicle Type
                                    th Created Time
                                    th Action
                            tbody
                                tr.open_row(v-for="(row, ind) in data1" v-bind:data-url="'/admin/users/profile/'+row.key")
                                    td {{ ind+1 }}
                                    td {{ row.first_name }} {{ row.last_name }}
                                    td {{ row.email }}
                                    td {{ row.mob_no }}
                                    td {{ row.cnic_no }}
                                    td {{ row.vehicle }}
                                    td {{ row.time }}
                                    td
                                        button.btn.btn-success.btn-xs(v-on:click.prevet='active(row.key, ind, $event)' v-if='row.status === 0') Activate
                                        button.btn.btn-danger.btn-xs(v-on:click.prevet='deActive(row.key, ind, $event)' v-else) Deactivate
