aside.right-side
    section.content-header
        h1 Completed Requests
        ol.breadcrumb
            li
                router-link(to='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li Deliveries
            li Completed Requests
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        ul.nav.nav-tabs(role='tablist')
                            li.active(role='tablist')
                                a(href='#today' aria-controls='home' role='tab' data-toggle='tab') Today
                            li(role='tablist')
                                a(href='#week' aria-controls='home' role='tab' data-toggle='tab') Week
                            li(role='tablist')
                                a(href='#all' aria-controls='home' role='tab' data-toggle='tab') All
                    .box-body
                        div.tab-content
                            div.tab-pane.active#today(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && today.length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && today.length > 0')
                                        table_comp(v-bind:per_page="10")
                                            template(slot="thead")
                                                tr
                                                    th S.No# 
                                                    th Date
                                                    th Request No.
                                                    th Client Name
                                                    th Client Number
                                                    th Bids
                                                    th Driver Name
                                                    th Driver Number
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Required Vehicle
                                                    th Driver Vehicle
                                                    th Reach Time
                                                    th Start Time
                                                    th Completed Time
                                                    th Parcel Rating
                                                    th Labours
                                                    th Floors
                                            template(slot="tbody")
                                                tr(v-for='(row, ind) in today')
                                                    td {{ ind+1 }}
                                                    td {{ dateFormat(row.reqData.createdAt) }}
                                                    td {{ row.reqData.id }}
                                                    td {{ row.clientData.first_name +" "+ row.clientData.last_name }}
                                                    td +{{ row.clientData.mob_no }}
                                                    td
                                                        button.btn.btn-sm.btn-info(data-toggle='modal' data-target='#push_modal' v-on:click='openBidsReq(row.reqData.id,row.reqData.createdAt)' style="margin-bottom: 5px;margin-right: 5px;") {{row.Bids}} 
                                                    td {{ row.driverData.first_name +" "+ row.driverData.last_name }}
                                                    td +{{ row.driverData.mob_no }}
                                                    td {{ row.reqData.orgText }}
                                                    td {{ row.reqData.desText }}
                                                    td {{ row.reqData.disText }}
                                                    td {{ row.reqData.durText }}
                                                    td {{ row.reqData.vecType }}
                                                    td {{ row.driverData.vehicle }}
                                                    td {{ dateFormat(row.compReqData.reach_time )}}
                                                    td {{ dateFormat(row.compReqData.active_time )}}
                                                    td {{ dateFormat(row.compReqData.complete_time )}}
                                                    td {{ row.compReqData.rating }}
                                                    td {{ row.reqData.labours }}
                                                    td {{ row.reqData.floors }}
                            
                            div.tab-pane#week(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && week.length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && week.length > 0')
                                        table_comp(v-bind:per_page="10")
                                            template(slot="thead")
                                                tr
                                                    th S.No# 
                                                    th Date
                                                    th Request No.
                                                    th Client Name
                                                    th Client Number
                                                    th Bids
                                                    th Driver Name
                                                    th Driver Number
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Required Vehicle
                                                    th Driver Vehicle
                                                    th Reach Time
                                                    th Start Time
                                                    th Completed Time
                                                    th Parcel Rating
                                                    th Labours
                                                    th Floors
                                            template(slot="tbody")
                                                tr(v-for='(row, ind) in week')
                                                    td {{ ind+1 }}
                                                    td {{ dateFormat(row.reqData.createdAt) }}
                                                    td {{ row.reqData.id }}
                                                    td {{ row.clientData.first_name +" "+ row.clientData.last_name }}
                                                    td +{{ row.clientData.mob_no }}
                                                    td
                                                        button.btn.btn-sm.btn-info(data-toggle='modal' data-target='#push_modal' v-on:click='openBidsReq(row.reqData.id,row.reqData.createdAt)' style="margin-bottom: 5px;margin-right: 5px;") {{row.Bids}} 
                                                    td {{ row.driverData.first_name +" "+ row.driverData.last_name }}
                                                    td +{{ row.driverData.mob_no }}
                                                    td {{ row.reqData.orgText }}
                                                    td {{ row.reqData.desText }}
                                                    td {{ row.reqData.disText }}
                                                    td {{ row.reqData.durText }}
                                                    td {{ row.reqData.vecType }}
                                                    td {{ row.driverData.vehicle }}
                                                    td {{ dateFormat(row.compReqData.reach_time )}}
                                                    td {{ dateFormat(row.compReqData.active_time )}}
                                                    td {{ dateFormat(row.compReqData.complete_time )}}
                                                    td {{ row.compReqData.rating }}
                                                    td {{ row.reqData.labours }}
                                                    td {{ row.reqData.floors }}
                            
                            div.tab-pane#all(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && all.length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && all.length > 0')
                                        table_comp(v-bind:per_page="10")
                                            template(slot="thead")
                                                tr
                                                    th S.No# 
                                                    th Date
                                                    th Request No.
                                                    th Client Name
                                                    th Client Number
                                                    th Bids
                                                    th Driver Name
                                                    th Driver Number
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Required Vehicle
                                                    th Driver Vehicle
                                                    th Reach Time
                                                    th Start Time
                                                    th Completed Time
                                                    th Parcel Rating
                                                    th Labours
                                                    th Floors
                                            template(slot="tbody")
                                                tr(v-for='(row, ind) in all')
                                                    td {{ ind+1 }}
                                                    td {{ dateFormat(row.reqData.createdAt) }}
                                                    td {{ row.reqData.id }}
                                                    td {{ row.clientData.first_name +" "+ row.clientData.last_name }}
                                                    td +{{ row.clientData.mob_no }}
                                                    td
                                                        button.btn.btn-sm.btn-info(data-toggle='modal' data-target='#push_modal' v-on:click='openBidsReq(row.reqData.id,row.reqData.createdAt)' style="margin-bottom: 5px;margin-right: 5px;") {{row.Bids}} 
                                                    td {{ row.driverData.first_name +" "+ row.driverData.last_name }}
                                                    td +{{ row.driverData.mob_no }}
                                                    td {{ row.reqData.orgText }}
                                                    td {{ row.reqData.desText }}
                                                    td {{ row.reqData.disText }}
                                                    td {{ row.reqData.durText }}
                                                    td {{ row.reqData.vecType }}
                                                    td {{ row.driverData.vehicle }}
                                                    td {{ dateFormat(row.compReqData.reach_time )}}
                                                    td {{ dateFormat(row.compReqData.active_time )}}
                                                    td {{ dateFormat(row.compReqData.complete_time )}}
                                                    td {{ row.compReqData.rating }}
                                                    td {{ row.reqData.labours }}
                                                    td {{ row.reqData.floors }}
                        list_bids(v-bind:sel_req_id="assign_req_id_md",:req_time="reqestTime")