meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

//google console verification
meta(name="google-site-verification" content="hJfdXoL1gnKVLNGgSa926emdRLiPBvdb2NTJtKWnlZw")

//facebook sharing content
meta(property="fb:app_id" content="1379317195528816")
meta(property="og:url" content="https://roadioapp.com")
meta(property="og:type" content="website")
meta(property="og:title" content="RoadioApp")
meta(property="og:description" content="Saman bhejna ab hua asan Car, Suzuki ya Truck sirf ek button ki duri per.")
meta(property="og:image" content="https://roadioapp.com/images/fav_icon.png")

// SITE TITLE
title= title
//
    =========================
    FAV AND TOUCH ICONS
    ==============================
link(rel='icon', href='/images/fav_icon.png')

// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-114980226-2')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-114980226-2');

//
    =========================
    STYLESHEETS
    ==============================
// BOOTSTRAP
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
// FONT ICONS
link(rel='stylesheet', href='/stylesheets/assets/elegant-icons/style.css')
link(rel='stylesheet', href='/stylesheets/assets/app-icons/styles.css')
//if lte IE 7
    script(src='lte-ie7.js')
// WEB FONTS
link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic', rel='stylesheet', type='text/css')
// CAROUSEL AND LIGHTBOX
link(rel='stylesheet', href='/stylesheets/css/owl.theme.css')
link(rel='stylesheet', href='/stylesheets/css/owl.carousel.css')
link(rel='stylesheet', href='/stylesheets/css/nivo-lightbox.css')
link(rel='stylesheet', href='/stylesheets/css/nivo_themes/default/default.css')
// ANIMATIONS
link(rel='stylesheet', href='/stylesheets/css/animate.min.css')
// CUSTOM STYLESHEETS
link(rel='stylesheet', href='/stylesheets/css/styles.css')
// COLORS
link(rel='stylesheet', href='/stylesheets/css/colors/blue.css')

// RESPONSIVE FIXES
link(rel='stylesheet', href='/stylesheets/css/responsive.css')
//if lt IE 9
    script(src='js/html5shiv.js')
    script(src='js/respond.min.js')
// JQUERY
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')