aside.right-side(slot='right-side')
    section.content-header
        h1
            | Dashboard&nbsp;
            small Control panel
            small.form-inline
                .form-group 
                    date_picker(:typeable='true',:bootstrap-styling = 'true' ,:format="customFormatter",:minimum-view="'day'", :maximum-view="'month'", :initial-view="'month'", placeholder='Select To Date', v-model='FromDate')                            
                .form-group 
                    date_picker(:typeable='true',:bootstrap-styling = 'true' ,:format="customFormatter",:minimum-view="'day'", :maximum-view="'month'", :initial-view="'month'", placeholder='Select To Date', v-model='ToDate')                            

                .form-group 
                    input.form-control.btn.btn-default.mb-2(type="button",value = "Filter" ,@click="filterData")
        ol.breadcrumb
            li
                router-link(to='/admin')
                    i.fa.fa-dashboard
                    |  Dashboard 
    section.content
        .row
            .col-lg-3.col-xs-6
                .small-box.bg-aqua
                    .inner.text-center
                        h3
                            template(v-if="!user.loader")
                                | {{ user.active.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Active Users
                    router-link.small-box-footer(:to="{path: '/admin/users',  query: {Activeusers:'Actived' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-yellow
                    .inner.text-center
                        h3
                            template(v-if="!user.loader")
                                | {{ user.inactive.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Inactive Users
                    router-link.small-box-footer(:to="{path: '/admin/users',  query: {Activeusers:'InActived' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-blue
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.active.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Active Drivers
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: {Activedrivers:'Actived' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-blue
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.blocked.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Blocked Drivers
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: { Blockeddrivers:'Blocked' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-green
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.inactive.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Inactive Drivers
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: {Activedrivers:'InActived' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-green
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.bikers.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Bikers Register
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: {Vehicle:'Bike' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-blue
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.cars.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Cars Register
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: {Vehicle:'Car' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-yellow
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.pickup.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Pickups Register
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: {Vehicle:'Pickup' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-aqua
                    .inner.text-center
                        h3
                            template(v-if="!driver.loader")
                                | {{ driver.truck.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Trucks Register
                    router-link.small-box-footer(:to="{path: '/admin/drivers',  query: {Vehicle:'Truck' , FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-aqua
                    .inner.text-center
                        h3
                            template(v-if="!jobs.loader")
                                | {{ jobs.total.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Total Jobs
                    router-link.small-box-footer(:to="{path:'/admin/requests/All', query: {FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-aqua
                    .inner.text-center
                        h3
                            template(v-if="!jobs.loader")
                                | {{  jobs.total.count -  jobs.Canceled.count }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Completed Jobs
                    router-link.small-box-footer(:to="{path:'/admin/requests/completed', query: {FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
            .col-lg-3.col-xs-6
                .small-box.bg-aqua
                    .inner.text-center
                        h3
                            template(v-if="!jobs.loader")
                                | {{ jobs.Canceled.count  }}
                            i.fa.fa-refresh.fa-spin(v-else)
                        p
                            | Canceled Jobs
                    router-link.small-box-footer(:to="{path:'/admin/requests/canceled', query: {FromDate:timestamp(FromDate), ToDate:timestamp(ToDate) }}")
                        | More info&nbsp;
                        i.fa.fa-arrow-circle-right
        .row
            .col-lg-12.col-xs-12 
 
                label.form-group 
                    input.form-group(type="checkbox"  ,value="D", v-model = "ChartOpt" , name="chkbox")
                |   Drivers    
                label.form-group 
                    input(type="checkbox"  ,value="U", v-model = "ChartOpt" , name="chkbox")
                |   Users    
                label.form-group 
                    input(type="checkbox"  ,value="R", v-model = "ChartOpt" , name="chkbox")
                |   Requests    
                label.form-group 
                    input.form-group(type="checkbox"  ,value="C", v-model = "ChartOpt" , name="chkbox")
                |   Cancel Requests    
                select.form-group(v-model = "ChartOpts")
                    option(value="All", v-model = "ChartOpts") All
                    option(value="Month", v-model = "ChartOpts") This Month
                    option(value="Week", v-model = "ChartOpts") This Week 
                    option(value="filter", v-model = "ChartOpts") Filtered
                button.btn.btn-default(@click="RefreshChartx(ChartOpt,ChartOpts)") Show Chart
 
        .row
            .col-lg-12.col-xs-12 
                gchart(type='AreaChart', :data='chartData', :options='chartOptions' ,:resizeDebounce="500")
 
