doctype html
html(lang='en')
    head
        include global/head.pug
        style.
            .panel-collapse {
                color: #232323;
            }
            .panel-title>a {
                text-decoration: none;
                color: #232323;
            }
            .panel-collapse .panel-body ol li,
            .panel-collapse .panel-body ul li
            {
                list-style: inherit;
            }
            .my-10{
                margin-top: 10px;
                margin-bottom: 10px;
            }
    body
        header#home.header
            .color-overlay23
                include global/nav.pug

        //
          =========================
          FEATURES
          ==============================
        section#features.features
            .container.text-left.privacy-container
                h3 DRIVERS QUESTIONS

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_1")
                                    | 1. We also have the loaders as well so how can they earn kindly tell?
                        #d_ques_1.panel-collapse.collapse
                            .panel-body.q2
                                | When user post there job details, if user need labour so the user write on detail then so then driver bid on this job he decide the amount of the job then bid.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_2")
                                    | 2. Kindly tell me your requirements what you need for the registration process?
                        #d_ques_2.panel-collapse.collapse
                            .panel-body.q2
                                | Driver must provides these documents!
                                ol
                                    li Passport Size Photo
                                    li Driving License
                                    li Original CNIC
                                    li Book Running Page
                                    li Excise Page
                                ul
                                    h4 Terms
                                    li For starting work with Roadio App you must have a Bike ,Suzuki or Mazda or Shehzor or a Truck.
                                    li The Driver must visit one time in our office with complete document which we have mentioned above . And also we survey your vehicle and then verify.
                                    li In our office we guide you how to use Roadio App in a simple way.
                                    li We take just 5% commission from Driver and Driver can submit this Commission to our any branch Office. otherwise we take action and then block driver ID.
                                    li And Driver must online on RoadioApp 24/7 and when client give job all the driver must bit on the job and must give response on the client.
                                    li When driver bit on the client job so driver must finished the job as soon as possible earlier.
                                    li User also give you ratings about our service. and for this you can take more jobs and earn more money then other low rated drivers. And also if you have lowest rating then (3.5 less then this rating) so we will block you ID. RoadioApp the Driver must take the responsibility to finish the job fast in a good way.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_3")
                                    | 3. Kindly tell me about the service you provide me?
                        #d_ques_3.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li RoadioApp is a Logistics service.
                                    li In RoadioApp the client give the job to shifting the house Furniture and etc.
                                    li User post request and driver accept the requests and bid the price of the job then give service.
                                    li Which driver bid the minimum about in bid so he will get maximum rides.
                                    li RoadioApp in two languages Urdu and English as well.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_4")
                                    | 4. Kindly tell me the benefits of your RoadioApp service?
                        #d_ques_4.panel-collapse.collapse
                            .panel-body.q2
                               | Now you take the job from your stops but if you use our RoadioApp service so you can get jobs from all over the city.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_5")
                                    | 5. Are you give insurance for my vehicle?
                        #d_ques_5.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li No our Company did not provide insurance we did not have that policy.
                                    li You are the responsible about you vehicle.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_6")
                                    | 6. Is passenger cheated me so in this case Company provide the money?
                        #d_ques_6.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li Driver is responsible about this.
                                    li Company is not responsible for this case.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_7")
                                    | 7. If any accident happen so company provide me any maintenance?
                        #d_ques_7.panel-collapse.collapse
                            .panel-body.q2
                                | No we don't.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_8")
                                    | 8. There is any guaranty for the regular jobs?
                        #d_ques_8.panel-collapse.collapse
                            .panel-body.q2
                                | If the driver give the best service to the clients so we try our level best to give that driver maximum task and opportunity to earn more money.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_9")
                                    | 9. How can we get high ratings?
                        #d_ques_9.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li If you provide the good service.
                                    li Low rate charged.
                                    li With out any problem deliver the equipment then user give good rating.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_10")
                                    | 10. Can you provide mobile insurance?
                        #d_ques_10.panel-collapse.collapse
                            .panel-body.q2
                                | RoadioApp didn't provide mobile insurance.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_11")
                                    | 11. Tell me the working hours?
                        #d_ques_11.panel-collapse.collapse
                            .panel-body.q2
                                | Complete your job at a time.


                hr
                h3 USERS QUESTIONS

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_1")
                                    | 1. Driver accept the request since 2 hours ago and not respond?
                        #u_ques_1.panel-collapse.collapse
                            .panel-body.q2
                                | We are contact the driver get the status.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_2")
                                    | 2. When we schedule booking after 4 days?
                        #u_ques_2.panel-collapse.collapse
                            .panel-body.q2
                                | In future add this booking option.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_3")
                                    | 3. Equipment destroy who clam company or driver?
                        #u_ques_3.panel-collapse.collapse
                            .panel-body.q2
                                | Wts a driver responsibility to shift your equipment carefully.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_4")
                                    | 4. Is the app available in IOS?
                        #u_ques_4.panel-collapse.collapse
                            .panel-body.q2
                                | We currently we do not have an iOS version of the app but customers can call our call center to make a booking.

        include global/footer_bottom.pug

        include global/scripts_btm.pug
