doctype html
html(lang='en')
    head
        include global/head.pug
        style.
            .panel-collapse {
                color: #232323;
            }
            .panel-title>a {
                text-decoration: none;
                color: #232323;
            }
            .panel-collapse .panel-body ol li,
            .panel-collapse .panel-body ul li
            {
                list-style: inherit;
            }
            .my-10{
                margin-top: 10px;
                margin-bottom: 10px;
            }
    body
        header#home.header
            .color-overlay23
                include global/nav.pug

        //
          =========================
          FEATURES
          ==============================
        section#features.features
            .container.text-left.privacy-container
                h3 DRIVERS QUESTIONS

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_1")
                                    | 1. What if we also have the loaders with us, kindly tell how they can earn?
                        #d_ques_1.panel-collapse.collapse
                            .panel-body.q2
                                | The user will select the option of loaders if he required. And accordingly the paid amount would include the loaders share, then it would be the driver's responsibility to share the money honestly.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_2")
                                    | 2. Kindly tell me your requirements what you need for the registration process?
                        #d_ques_2.panel-collapse.collapse
                            .panel-body.q2
                                | Driver must provides these documents!
                                ol
                                    li Passport Size Photo
                                    li Driving License
                                    li Original CNIC
                                    li Book Running Page
                                    li Excise Page
                                ul
                                    h4 Terms
                                    li To start work with RoadioApp you must have a Bike, Suzuki, Shehzore or a Truck.
                                    li The Driver must visit office once along with complete document mentioned above. On the same day the driver’s vehicle would be checked and verified.
                                    li On your visit to our office, you would be guided the way to use the RoadioApp in quickest and simpler way.
                                    li We will deduct just 10% commission on driver’s earning, which driver has to submit on a fix date in a week in our branch.  Delay in payments will insist us take serious action such as blocking driver’s ID.
                                    li In order to respond to the job given by the client, Driver must be the active user of RoadioApp. And should have proper online access and cell phone available all the time.  
                                    li When driver approaches the client job, he must have to finish the task within required /needed time duration.
                                    li Drivers are the representatives of RoadioApp. In order to remain in the RoadioApp team and get the suitable pathway of earning good income for yourself. Drivers must have to bind themselves to do their job in effective way. To check the quality of the services provided to the client we have also introduced the rating system .Where client will rate the driver according to the service provided by him. Kindly do remember here, less than 3.5 rate would not be accepted by the RoadioApp and would lead us to block driver’s id, as it is clearly indicating the poor services provided by the driver which is putting question mark on the reputation of RoadioApp.
                                    li The driver must not overloaded the vehicle with extra Material. And must keep in safe manners.


                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_3")
                                    | 3. Kindly define RoadioApp?
                        #d_ques_3.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li RoadioApp is a Logistics service provider.
                                    li On RoadioApp the client give the job such as
                                        ul
                                            li Shifting the house Furniture to the desired destination.
                                            li Shifting of any other material to the desired destination.
                                    li User post request and driver accepts the request. After bidding the price the services is provided.
                                    li RoadioApp runs in two languages i.e. Urdu and English.


                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_4")
                                    | 4. Are you give insurance for my vehicle?
                        #d_ques_4.panel-collapse.collapse
                            .panel-body.q2
                               | No, Drivers vehicles are not insured by the RoadioApp .The Drivers are solely responsible for the maintenance of their vehicle.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_5")
                                    | 5. Is passenger cheated me so in this case Company provide the money?
                        #d_ques_5.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li The Drivers are responsible for risk and rewards of vehicles. RoadioApp doesn’t assure any provision of money in case of occurrence unpleasant event/ or accident.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_6")
                                    | 6. There is any guaranty for the regular jobs?
                        #d_ques_6.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li Entirely depending on how best the driver performs his duty. (High Rating by the client is very important here).
                                    li Secondly how good the driver is communicating with RoadioApp office and paying his dues. 

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_7")
                                    | 7. How can we get high ratings?
                        #d_ques_7.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li By placing 90% of the bid amount.
                                    li By remain active (online) throughout 8.5 hours of job.
                                    li By getting valid and high rating from the users.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_8")
                                    | 8. Can you provide mobile insurance?
                        #d_ques_8.panel-collapse.collapse
                            .panel-body.q2
                                | RoadioApp didn't provide mobile insurance.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_9")
                                    | 9. Tell the working hours?
                        #d_ques_9.panel-collapse.collapse
                            .panel-body.q2
                                ul
                                    li 8.5 hours a day.
                    //.panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_10")
                                    | 10. Can you provide mobile insurance?
                        #d_ques_10.panel-collapse.collapse
                            .panel-body.q2
                                | RoadioApp didn't provide mobile insurance.
                //.panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#d_ques_11")
                                    | 11. Tell me the working hours?
                        #d_ques_11.panel-collapse.collapse
                            .panel-body.q2
                                | Complete your job at a time.


                hr
                h3 USERS QUESTIONS

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_1")
                                    | 1. What if Driver accept the request since 0.5 hours ago and do not response?
                        #u_ques_1.panel-collapse.collapse
                            .panel-body.q2
                                | In this case you may contact the office .Our representative will follow up and respond you promptly.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_2")
                                    | 2. Is advance booking possible?
                        #u_ques_2.panel-collapse.collapse
                            .panel-body.q2
                                | Yes it is possible to book the vehicle in advance.

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_3")
                                    | 3. What if the Material carried is destroyed by the driver accidently?
                        #u_ques_3.panel-collapse.collapse
                            .panel-body.q2
                                | It’s solely driver responsibility to shift the material carefully. Roadioapp is not responsible to compensate the loss. Although its advice to send one of person from your side along with the material and secondly fix the material carefully under your supervision. 

                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_4")
                                    | 4. Is the app available in IOS?
                        #u_ques_4.panel-collapse.collapse
                            .panel-body.q2
                                | We currently we do not have an iOS version of the app but customers can call our call center to make a booking.
                .panel-group.my-10
                    .panel.panel-warning
                        .panel-heading
                            h4.panel-title.q1
                                a(data-toggle="collapse" href="#u_ques_5")
                                    | 5. Kindly tell me the benefits of your RoadioApp service?
                        #u_ques_5.panel-collapse.collapse
                            .panel-body.q2
                                | Traditionally we need to rush to the vehicle stations to get drivers to shift the material etc. on the desired destinations. Now by RoadioApp, approaching drivers is on fingertips, Just need to install the RoadioApp and enjoy the services throughout the city. And save your time. 

        include global/footer_bottom.pug

        include global/scripts_btm.pug
