doctype html
html(lang='en')
    head
        include global/head.pug
    body
        include global/home_header.pug
        //
          =========================
          FEATURES
          ==============================
        section#features.features
            .container
                // SECTION HEADER
                .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
                    // SECTION TITLE
                    h2.white-text Amazing Features
                    .colored-line
                    .section-description
                        | Now shifting house, moving furniture, delivering parcels or documents are easy with Roadioapp
                    .colored-line
                // /END SECTION HEADER
                .row
                    // FEATURES LEFT
                    .col-md-4.col-sm-4.features-left.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // FEATURE
                        .feature
                            // ICON
                            .icon-container
                                .icon
                                    i.icon_map_alt
                            // FEATURE HEADING AND DESCRIPTION
                            .fetaure-details
                                h4.main-color Auction System
                                p
                                    | Pricing services Roadioapp set based auction offered by Partners
                        // /END SINGLE FEATURE
                        // FEATURE
                        .feature
                            // ICON
                            .icon-container
                                .icon
                                    i.icon_calculator_alt
                            // FEATURE HEADING AND DESCRIPTION
                            .fetaure-details
                                h4.main-color Various services
                                p
                                    | Roadioapp provide transportation services, logistics and warehousing in one mobile application
                        .feature
                            // ICON
                            .icon-container
                                .icon
                                    i.icon_gift_alt
                            // FEATURE HEADING AND DESCRIPTION
                            .fetaure-details
                                h4.main-color Easy to use
                                p
                                    | Applications Roadioapp easy to use
                        // /END SINGLE FEATURE
                        // FEATURE
                        // /END SINGLE FEATURE
                    // /END FEATURES LEFT
                    // PHONE IMAGE
                    .col-md-4.col-sm-4
                        .phone-image.wow.bounceIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
                            img(src='/images/amazaing_screen.png', alt='')
                    // FEATURES RIGHT
                    .col-md-4.col-sm-4.features-right.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // FEATURE
                        .feature
                            // ICON
                            .icon-container
                                .icon
                                    i.icon_genius
                            // FEATURE HEADING AND DESCRIPTION
                            .fetaure-details
                                h4.main-color A wide variety of payment alternatives
                                p
                                    | Roadioapp provide payment in cash and non-cash
                        // /END SINGLE FEATURE
                        // FEATURE
                        .feature
                            // ICON
                            .icon-container
                                .icon
                                    i.icon_lightbulb_alt
                            // FEATURE HEADING AND DESCRIPTION
                            .fetaure-details
                                h4.main-color Realtime monitoring
                                p
                                    | You can monitor realtime movement of the driver through the application
                        // /END SINGLE FEATURE
                        // FEATURE
                        .feature
                            // ICON
                            .icon-container
                                .icon
                                    i.icon_ribbon_alt
                            // FEATURE HEADING AND DESCRIPTION
                            .fetaure-details
                                h4.main-color Safe and comfortable
                                p
                                    | We strive to give you the best partners
                        // /END SINGLE FEATURE
                    // /END FEATURES RIGHT
                // /END ROW
            // /END CONTAINER
        // /END FEATURES SECTION
        //
          =========================
          BRIEF LEFT SECTION
          ==============================
        section#brief1.app-brief.deep-dark-bg
            .container
                .row
                    // PHONES IMAGE
                    .col-md-6.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .phone-image
                            img(src='/images/become_roadio.png', alt='')
                    // RIGHT SIDE WITH BRIEF
                    .col-md-6.left-align.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // SECTION TITLE
                        h2.white-text Become a Roadio
                        .colored-line-left
                        p
                            | RoadioApp gives an amazing opportunity to vehicle owners to earn a stable income every month and also bonuses on quarterly basis.
                        // FEATURE LIST
                        ul.feature-list
                            li
                                i.icon_lock_alt
                                |  Guaranteed earning upto Rs. 50,000/-
                            li
                                i.icon_check_alt2
                                |  Give offers to customers as you wish.
                            li
                                i.icon_paperclip
                                |  Earn Points to win bonus and prices.
                            li
                                i.icon_adjust-vert
                                |  Be your own boss.
                        #download-button2.buttons
                            a.btn.btn-default.btn-lg.standard-button(href='/partner')
                                i.icon-app-download
                                | Become a Roadio
                    // /END RIGHT BRIEF
                // /END ROW
            // /END CONTAINER
        // /END SECTION
        //
          =========================
          BRIEF RIGHT SECTION
          ==============================
        section#brief2.app-brief
            .container
                .row
                    // BRIEF
                    .col-md-6.left-align.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // SECTION TITLE
                        h2.white-text About Roadioapp
                        .colored-line-left
                        p
                            | Roadioapp providing services city courier, trucking, transportation and warehousing. Roadioapp a marketplace service provider city courier, trucking, transportation and warehousing, from companies and private.
                            br
                            br
                            |                Unlike the services that exist today, Roadioapp has a unique service that is not owned by any other competitor. As tariff services are determined by partners who have collaborated with Roadioapp, conducted by an auction mechanism.
                            | Customers can define their own partners desired service according to the price and rating offered partners.
                    // /ENDBRIEF
                    // PHONES IMAGE
                    .col-md-6.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .phone-image
                            img(src='/images/become_roadio.png', alt='')
                    // /END PHONES IMAGE
                // /END ROW
            // /END CONTAINER
        // /END SECTION
        //
          =========================
          BRIEF LEFT SECTION WITH VIDEO
          ==============================
          TESTIMONIALS
          ==============================
        section.testimonials
            .color-overlay
                .container.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    // FEEDBACKS
                    #feedbacks.owl-carousel.owl-theme
                        // SINGLE FEEDBACK
                        .feedback
                            // IMAGE
                            .image
                                // i class=" icon_quotations"></i
                                img(src='/images/avatar5.png', alt='')
                            .message
                                | Awesome deliverer, I recommend him
                            .white-line
                            // INFORMATION
                            .name
                                | Usama Hassan
                            //.company-info
                            //    | CEO, AbZ Network
                        // /END SINGLE FEEDBACK
                        // SINGLE FEEDBACK
                        .feedback
                            // IMAGE
                            .image
                                // i class=" icon_quotations"></i
                                img(src='/images/rameez.jpg', alt='')
                            .message
                                | Quick and fast deliverer.
                            .white-line
                            // INFORMATION
                            .name
                                | Rameez Raja
                        // /END SINGLE FEEDBACK
                        // SINGLE FEEDBACK
                        // /END SINGLE FEEDBACK
                    // /END FEEDBACKS
                // /END CONTAINER
            // /END COLOR OVERLAY
        // /END TESTIMONIALS SECTION
        //
          =========================
          SERVICES
          ==============================
        section#services.services
            .container
                // SECTION HEADER
                .section-header.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    // SECTION TITLE
                    h2.white-text It's Awesome
                    .colored-line
                    .section-description
                        | Don't wait, download Roadioapp now and experience the best online door to door delivery service of Pakistan.
                    .colored-line
                // /END SECTION HEADER
                .row
                    // SINGLE SERVICE
                    .col-md-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // SERVICE ICON
                        .service-icon
                            i.icon_cloud-upload_alt
                        // SERVICE HEADING
                        h3 No Packaging Required
                        // SERVICE DESCRIPTION
                        p
                            | Delivering with Roadioapp is super easy, just tap on order, provide your pickup and drop location and get offers from thousands of RoadioApp verified drivers. No need to pack/wrap or tag just hand over and consider job done.
                    // /END SINGLE SERVICE
                    // SINGLE SERVICE
                    .col-md-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // SERVICE ICON
                        .service-icon
                            i.icon_gift_alt
                        // SERVICE HEADING
                        h3 Monthly Rewards
                        // SERVICE DESCRIPTION
                        p
                            | Invite your friends and family members and earn RoadioApp credits. Introduce drivers to our app and get a free delivery. Learn more.
                    // /END SINGLE SERVICE
                    // SINGLE SERVICE
                    .col-md-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        // SERVICE ICON
                        .service-icon
                            i.icon_chat_alt
                        // SERVICE HEADING
                        h3 24/7 Support
                        // SERVICE DESCRIPTION
                        p
                            | RoadioApp Ninja support center is there for your assistance all day and night. you may write us and raise a ticket or you may call our customer support representative at +923111009983, +923111994494.
                    // /END SINGLE SERVICE
                // /END ROW
            // /END CONTAINER
        // /END FEATURES SECTION
        //
          =========================
          SCREENSHOTS
          ==============================
        section#screenshot-section.screenshots.deep-dark-bg
            video.wow.fadeIn.animated(src="/video/how_to_order.mp4" autoplay loop)
                | Your browser does not support the video tag.
            // /END CONTAINER
        // /END SCREENSHOTS SECTION
        //

          DOWNLOAD NOW
          ==============================
        section#download.download
            .color-overlay
                .container
                    .row
                        .col-md-6
                            h2 ANY TIME, ANY PLACE
                            p.mr-100-md Whether it’s a book or a bed, use RoadioApp to send your stuff. Cheap, fun, safe and environmental.
                            .download-container
                                h2.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s') Download the app on
                                .buttons.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                                    a.right-store-icon(href='https://play.google.com/store/apps/details?id=com.roadioapp.roadioappuser' target="_blank")
                                        img(src='/images/play_store.png')
                            
                            ul.social-icons
                                li
                                    a(href='https://www.facebook.com/RoadioApp-271823006566712/' target="_blank")
                                        i.social_facebook_square
                                li
                                    a(href='https://www.instagram.com/roadioapp' target="_blank")
                                        i.social_instagram_square
                                li
                                    a(href='https://twitter.com/Roadioapppak' target="_blank")
                                        i.social_twitter_square
                                
                        .col-md-6.text-right-md
                            img.responsive-img.f_logo(src='/images/roadio_logo_web.png', alt='LOGO')

                            .subscription-form-container
                                h2.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s') Subscribe Now!
                                form.subscription-form.mailchimp.form-inline.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s', role='form')
                                    // SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES
                                    h4.subscription-success
                                    h4.subscription-error
                                    // EMAIL INPUT BOX
                                    input#subscriber-email.form-control.input-box(type='email', name='email', placeholder='Your Email')
                                    // SUBSCRIBE BUTTON
                                    button#subscribe-button.btn.btn-default.standard-button(type='submit') Subscribe
                        // END COLUMN
                    // END ROW
                // /END CONTAINER
            // /END COLOR OVERLAY
        // /END DOWNLOAD SECTION

        include global/footer_bottom.pug

        include global/scripts_btm.pug