aside.right-side
    section.content-header
        h1 Advance Search
        ol.breadcrumb
            li
                router-link(to='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li.active Advance Search
    section.content
        .row
            .col-xs-12
                .box
                    .box-body
                        h3(style="margin:0 0 20px 0;") Search Box
                        .row
                            .col-md-6
                                .form-group
                                    label(for='sel_table') Select Table
                                    select.form-control(id="sel_table" v-model="sel_table")
                                        option(value="") Select Table
                                        option(v-for="(t_item, t_key) in table_list" v-bind:value="t_key") {{ t_item.name }}
                        template(v-if="sel_table !== ''")
                            hr(v-if="table_list[sel_table].fields.length > 0")
                            .row
                                template(v-for="field in table_list[sel_table].fields")
                                    .col-md-3
                                        template(v-if="field.tag_type === 'select'")
                                            .form-group
                                                label(:for='field.id') {{field.label}}
                                                select.form-control(:id="field.id" v-model="field.sel_value")
                                                    option(value="") {{field.label}}
                                                    template(v-if="field.options")
                                                        option(v-for="(opt_item, opt_key) in field.options" v-bind:value="opt_item.value") {{ opt_item.title }}
                                                    template(v-else-if="field.ref")
                                                        option(v-for="(opt_item, opt_key) in asyncData[field.ref]" v-bind:value="opt_item.value") {{ opt_item.title }}
                    .box-footer(v-if="sel_table !== ''")
                        div
                            button.btn.btn-primary(type="button" v-on:click="search_table") Search
            .col-xs-12(v-if="searchHit")
                .box
                    .box-body
                        h3(style="margin:0 0 20px 0;") Search Result
                        .table-responsive
                            table_comp
                                template(slot="thead")
                                    tr(v-if="searchResult.thead.length > 0")
                                        th(v-for="val in searchResult.thead") {{ val }}
                                template(slot="tbody")
                                    template(v-if="searchResult.tbody")
                                        tr(v-for="(row, ind) in searchResult.tbody")
                                            td {{ ind+1 }}
                                            td(v-for="column in row") {{ column }}
                                    template(v-else)
                                        tr(v-for="(row, ind) in searchResult")
                                            td {{ row }}
                                        


            