aside.right-side
    section.content-header
        h1 Canceled Requests
        ol.breadcrumb
            li
                router-link(to='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li Deliveries
            li Canceled Requests
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        ul.nav.nav-tabs(role='tablist')
                            li.active(role='tablist')
                                a(href='#today' aria-controls='home' role='tab' data-toggle='tab') Today
                            li(role='tablist')
                                a(href='#week' aria-controls='home' role='tab' data-toggle='tab') Week
                            li(role='tablist')
                                a(href='#all' aria-controls='home' role='tab' data-toggle='tab') All
                    .box-body
                        div.tab-content
                            div.tab-pane.active#today(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && today.length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && today.length > 0')
                                        table_comp(v-bind:per_page="10")
                                            template(slot="thead")
                                                tr
                                                    th S.No#
                                                    th Date
                                                    th Request No.
                                                    th Client Name
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Required Vehicle
                                            template(slot="tbody")
                                                tr(v-for='(row, ind) in today')
                                                    td {{ ind+1 }}
                                                    td {{ dateFormat(row.reqData.createdAt) }}
                                                    td {{ row.reqData.id }}
                                                    td {{ row.clientData.first_name +" "+ row.clientData.last_name }}
                                                    td {{ row.reqData.orgText }}
                                                    td {{ row.reqData.desText }}
                                                    td {{ row.reqData.disText }}
                                                    td {{ row.reqData.durText }}
                                                    td {{ row.reqData.vecType }}
                            
                            div.tab-pane#week(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && week.length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && week.length > 0')
                                        table_comp(v-bind:per_page="10")
                                            template(slot="thead")
                                                tr
                                                    th S.No#
                                                    th Date
                                                    th Request No.
                                                    th Client Name
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Required Vehicle
                                            template(slot="tbody")
                                                tr(v-for='(row, ind) in week')
                                                    td {{ ind+1 }}
                                                    td {{ dateFormat(row.reqData.createdAt) }}
                                                    td {{ row.reqData.id }}
                                                    td {{ row.clientData.first_name +" "+ row.clientData.last_name }}
                                                    td {{ row.reqData.orgText }}
                                                    td {{ row.reqData.desText }}
                                                    td {{ row.reqData.disText }}
                                                    td {{ row.reqData.durText }}
                                                    td {{ row.reqData.vecType }}
                            
                            div.tab-pane#all(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && all.length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && all.length > 0')
                                        table_comp(v-bind:per_page="10")
                                            template(slot="thead")
                                                tr
                                                    th S.No#
                                                    th Date
                                                    th Request No.
                                                    th Client Name
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Required Vehicle
                                            template(slot="tbody")
                                                tr(v-for='(row, ind) in all')
                                                    td {{ ind+1 }}
                                                    td {{ dateFormat(row.reqData.createdAt) }}
                                                    td {{ row.reqData.id }}
                                                    td {{ row.clientData.first_name +" "+ row.clientData.last_name }}
                                                    td {{ row.reqData.orgText }}
                                                    td {{ row.reqData.desText }}
                                                    td {{ row.reqData.disText }}
                                                    td {{ row.reqData.durText }}
                                                    td {{ row.reqData.vecType }}