#map_content{
    overflow: hidden;
    padding: 10px;
}

#map_content > p:last-child {
    margin-bottom: 0;
}

.bxL{
    padding-left: 5px;
    padding-top: 5px;
    float: left;
    padding-bottom: 5px;
}
.bxR{

    margin-right: 5px;
    padding-top: 5px;
    float: right;
    padding-bottom: 5px;
}
.box .box-header {
    padding-bottom: 0px;
}
.box-header{
    
    height: 33px;

}