aside.right-side
    section.content-header(style="display:none")
        h1
            | Drivers&nbsp;
            small Drivers List
        ol.breadcrumb
            li
                router-link(to='/admin')
                    i.fa.fa-dashboard
                    |  Dashboard
            li.active Drivers List

    section.content
        .row
            .col-xs-12
                .box  
                    .box-header
                        h4.box-title Drivers List
                        .box-tools.text-right
                            router-link.btn.btn-sm.btn-success(to='/admin/drivers/add_driver' style='color:white')
                                i.fa.fa-plus
                                
                            button.btn.btn-sm.btn-success(style='color:white', v-on:click="ExportData")
                                i.fa.fa-download
                    .col-md-4
                        .form-group  
                            vue-multiselect(:allow-empty="true",v-model='Addavalues', :options='addaList', :multiple='true', track-by='name', :custom-label='customLabel',placeholder="Select Custom Adda")
                    .col-md-2
                        .form-group
                            select.form-control(v-model='selectedVehicle')
                                option Choose Vehicle
                                option Pickup
                                option Car
                                option Truck
                                option Bike
                    .col-md-2    
                        date_picker(:typeable='true',:bootstrap-styling = 'true' ,:format="customFormatter",:minimum-view="'day'", :maximum-view="'month'", :initial-view="'month'", placeholder='Select From Date', v-model='FromDate')
                        br
                        date_picker(:typeable='true',:bootstrap-styling = 'true' ,:format="customFormatter",:minimum-view="'day'", :maximum-view="'month'", :initial-view="'month'", placeholder='Select To Date', v-model='ToDate')

                    .col-md-1.nopadding
                        label
                            input(type='radio', v-model='UsersAOption',  value='All')
                            | All 
                        br
                        label
                            input(type='radio', v-model='UsersAOption',  value='Actived')
                            | Active
                        br
                        label
                            input(type='radio', v-model='UsersAOption',  value='InActived')
                            | Deactive
                    .col-md-1.nopadding
                        label
                            input(type='radio', v-model='UsersBOption', value='All')
                            | All 
                        br
                        label
                            input(type='radio', v-model='UsersBOption',  value='Blocked')
                            | Block
                        br
                        label
                            input(type='radio', v-model='UsersBOption',  value='UnBlocked')
                            | Unblock 

                    .col-md-1.nopadding
                        label
                            input(type='radio',v-model='UsersCOption', value='All')
                            |All
                        br
                        label
                            input(type='radio',v-model='UsersCOption',  value='Online')
                            |Online 
                        br
                        label
                            input(type='radio',v-model='UsersCOption',  value='Offline')
                            |Offline 
                    .col-md-1
                        input(type="button", value="Search", @click="changeSearch()")
                    .box-body.table-responsive
                        div.text-center(v-if='dataLoad')                            

                            i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                        h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && data1.length === 0')
                            | No Active Driver Found!
                        template(v-if='!dataLoad && data1.length > 0')

                            
                            table_comp(v-bind:per_page='pPage')
                                template(slot="thead")
                                    tr
                                        th 
                                            input(type="checkbox", v-model="selectedAllIDs" ,v-on:click="checkAllDrivers(selectedAllIDs)")
                                        th S.No#
                                        th Driver Name
                                        th Driver Email
                                        th Mobile#
                                        th Adda Name
                                        th Driver Profile
                                        th CNIC#
                                        th Vehicle Type
                                        th Created Time
                                        th Action
                                        th Status
                                        th Profile
                                template(slot="tbody")
                                    tr.open_row(v-for="(row, ind) in data1" )
                                        td
                                            input(type="checkbox", :value='row.key' , v-model="selectedIDs")
                                        td {{ ind+1 }}
                                        td {{ row.first_name }} {{ row.last_name }}
                                        td {{ row.email }}
                                        td {{ row.mob_no }}
                                        td {{ row.place_name }}
                                        td
                                            progress-bar(v-model='progressValue[ind]' style='background-color: #428bca;')

                                        td {{ row.cnic_no }}
                                        td {{ row.vehicle }}
                                        td {{ row.time }}
                                        td(data-indx="status" v-bind:data-search="row.status")
                                            button.btn.btn-success.btn-xs(v-on:click.prevet='active(row.key, ind, $event)' v-if='row.status === 0') Activate
                                            button.btn.btn-danger.btn-xs(v-on:click.prevet='deActive(row.key, ind, $event)' v-else) Deactivate
                                        td(data-indx="blocked" v-bind:data-search="(typeof row.blocked === 'undefined') ? 'false':row.blocked+''")
                                            button.btn.btn-primary.btn-sm(type="button", v-on:click.prevent='unblock(row.key, ind, $event)' v-if='row.blocked === true') UnBlock
                                            button.btn.btn-primary.btn-sm(type="button", v-on:click.prevent='block(row.key, ind, $event)' v-else ) Block
                                        td
                                            p
                                                |
                                                a(v-bind:href="'/admin/drivers/profile/'+row.key")
                                                    span.glyphicon.glyphicon-user
