aside.right-side
    section.content-header(style="display:none")
        h1
            | User Account
        ol.breadcrumb
            li
                router-link(to='/admin')
                    i.fa.fa-dashboard
                    |  Dashboard
            li.active
    section.content
        .row
            .col-xs-12
                .box
                    .box-body.table-responsive
                        h3.box-title(style="margin-bottom: -26px;") User Account
                        div.table-responsive
                            div.text-center(v-if='dataLoad1')
                                i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                            h3.text-center(style='margin: 15px 0;' v-if='!dataLoad1 && Object.keys(invoiceReqData).length === 0')
                                | No Data Found!
                            template(v-if='!dataLoad1 && Object.keys(invoiceReqData).length > 0')
                                table_comp(v-bind:per_page="10")
                                    template(slot="thead")
                                        tr
                                            th S.No#
                                            th Date
                                            th Details
                                            th Invoice#
                                            th Spent
                                    template(slot="tbody")
                                        tr(v-for="(row, key, ind) in invoiceReqData")
                                            td {{ ind+1 }}
                                            td {{ row.createdAt }}
                                            td From({{ row.req_data.orgText }}) To({{ row.req_data.desText }}) User({{ row.client_data.first_name }}) Driver({{ row.driver_data.first_name }})
                                            td
                                                router-link(v-bind:to="'/admin/invoice/'+key") {{ row.invoice_no }}
                                            td {{ row.amount }}
                                    tfoot(slot="tfoot")
                                        tr
                                            td.text-right(colspan='4') Total
                                            td Rs.{{ invoiceReqDataTotal }}